{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">

		<!--主题-->
		<div class="page-header">
			<h1>
				当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					添加公司详情
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal companyform" name="company_list_add" method="post" action="{:url('company/company_runadd')}">

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1">公司名字：  </label>
						<div class="col-sm-10">
							<input type="text" name="company_name" id="company_name" placeholder="请输入公司名字" class="col-xs-10 col-sm-5" onblur="testdb_1();" required/>
							<span class="lbl col-xs-12 col-sm-7" id="js-install-tip-dbpw"></span>
						</div>
					</div>
					<div class="space-4"></div>

					<!--项目名    下拉样式-->
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属行业：</label>
						<div class="col-sm-8">
							<select name="industry_category"  class="col-sm-3 " >
								<option value="">请选择行业</option>
								{foreach name="industry_category" item="vo"}
								<option value="{$vo.industry_category_id}"  >{$vo.industry_category_name} </option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="space-4"></div>
					<!--项目名    下拉样式-->

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1">公司官网：  </label>
						<div class="col-sm-10">
							<input type="text" name="official_website" id="official_website" placeholder="请输入公司名字" class="col-xs-10 col-sm-5" />
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>请输入公司网址：如(http://www.slanmedia.com/)</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"><span style="color: red;">*输入以上三项即可</span></label>
					</div>
					<div class="space-4"></div>
					<hr/>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司编号：</label>
						<div class="col-sm-10">
							<input type="text" name="company_number" id="company_number" placeholder="请输入公司编号" class="col-xs-10 col-sm-5"/>
							<span class="lbl col-xs-12 col-sm-7"><span class="red">
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司别名（简称）：  </label>
						<div class="col-sm-10">
							<input type="text" name="company_alias" id="company_alias" placeholder="请输入公司别名" class="col-xs-10 col-sm-5" />
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>非必填项</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司地址：  </label>
						<div class="col-sm-10">
							<input type="text" name="company_address" id="company_address" placeholder="请输入公司地址" class="col-xs-10 col-sm-5" />
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>非必填项</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司法人：</label>
						<div class="col-sm-10">
							<input type="text" name="company_legal_person" id="company_legal_person" placeholder="请输入公司法人" class="col-xs-10 col-sm-5" />
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>非必填项</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司电话（座机号）：  </label>
						<div class="col-sm-10">
							<input type="text" name="company_phone" id="company_phone" placeholder="请输入公司电话" class="col-xs-10 col-sm-5" />
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>非必填项</span>
						</div>
					</div>
					<div class="space-4"></div>


					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司邮箱：  </label>
						<div class="col-sm-10">
							<input type="email" name="company_mail" id="company_mail" placeholder="请输入公司邮箱" class="col-xs-10 col-sm-5" />
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>非必填项</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司手机号：  </label>
						<div class="col-sm-10">
							<input type="number" name="company_mobile" id="company_mobile" placeholder="请输入甲方对接人手机号码" class="col-xs-10 col-sm-5" />
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>非必填项</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div><!-- /.page-content -->

<script>
	/*
	 检测数据库配置是否能用               ajax检测
	 */
	function testdb_1()
	{
		var dbHost = $('#company_name').val();
		data = {
			'company_name' : dbHost,
		};
		var url = "{:url('admin/company/testdb_1')}";
		$.ajax({
			type : "POST",
			url : url,
			data : data,
			beforeSend : function() {
			},
			success : function(msg)
			{
				if (msg)
				{
					$('#company_name').val("");
					$('#js-install-tip-dbpw').html('<span class="red">*该公司已存在，请勿重复添加</span>');
				}
				else
				{
					$('#js-install-tip-dbpw').html('<span class="blue">*可以添加</span>');
				}
			},
			complete : function() {
			},
			error : function() {
				$('#js-install-tip-dbpw').html('<span class="red">*该公司已存在，请勿重复添加</span>');
				$('#company_name').val("");
			}
		});
	}
</script>

{/block}