{foreach name="servicee_itemse" item="v"}
	<tr id="pid-{$v.pid}-{$v.service_items_id}">
		<td>
			{if condition="$v.level eq 1"}
			<a data-id="{$v.service_items_id}" data-level="{$v.level}" href="{:url('admin/Sys/servicee_itemse_list',['pid'=>$v.service_items_id])}" style="cursor:pointer;" class="rule-list001"><span class="fa {if condition='$v.level egt 4'}fa-minus{else /}fa-plus{/if} blue"></span>
			</a>
			{/if}
		</td>
		<td class="hidden-xs" style='padding-left:{if condition="$v.leftpin neq 0"}{$v.leftpin}px{/if}' >{$v.lefthtml}{$v.service_items_name}</td>
		<td class="hidden-sm hidden-xs">{$v.level}</td>
		<td class="hidden-sm hidden-xs">{$v.addtime|date='Y-m-d',###}</td>
		<td>
			<div class="hidden-sm hidden-xs action-buttons">
				<a class="blue" href="{:url('admin/Sys/servicee_itemse_add',array('pid'=>$v['service_items_id']))}"  service_items_name="添加子类">
					<i class="ace-icon fa fa-plus-circle bigger-130"></i>
				</a>
				<a class="green" href="{:url('admin/Sys/servicee_itemse_edit',array('id'=>$v['service_items_id']))}" service_items_name="修改">
					<i class="ace-icon fa fa-pencil bigger-130"></i>
				</a>
				<a class="red confirm-rst-url-btn" href="{:url('admin/Sys/servicee_itemse_del',array('id'=>$v['service_items_id']))}" data-info="你确定要删除吗？" service_items_name="删除">
					<i class="ace-icon fa fa-trash-o bigger-130"></i>
				</a>
			</div>
			<div class="hidden-md hidden-lg">
				<div class="inline position-relative">
					<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
						<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
					</button>
					<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
						<li>
							<a href="{:url('admin/Sys/servicee_itemse_add',array('pid'=>$v['service_items_id']))}"  class="tooltip-success" data-rel="tooltip" service_items_name="" data-original-service_items_name="添加子类">
										<span class="green">
											<i class="ace-icon fa fa-plus-circle bigger-120"></i>
										</span>
							</a>
						</li>
						<li>
							<a href="{:url('admin/Sys/servicee_itemse_edit',array('id'=>$v['service_items_id']))}" class="tooltip-success" data-rel="tooltip" service_items_name="" data-original-service_items_name="修改">
											<span class="green">
												<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
											</span>
							</a>
						</li>
						<li>
							<a href="{:url('admin/Sys/servicee_itemse_del',array('id'=>$v['service_items_id']))}"  data-info="你确定要删除吗？" class="tooltip-error confirm-rst-url-btn" data-rel="tooltip" service_items_name="" data-original-service_items_name="删除">
											<span class="red">
												<i class="ace-icon fa fa-trash-o bigger-120"></i>
											</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</td>
	</tr>
{/foreach}