{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content small_page-content">

		<div class="row maintop">
			<div class="col-xs-12 col-sm-1" >

				<!-- 点击添加模态框（Modal） -->
				<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal">
					<i class="ace-icon fa fa-bolt bigger-110"></i>
					添加合同周期
				</button>
				<!-- 点击添加模态框（Modal） -->

			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div>
					<form class="ajaxForm" name="customer_contract_cycle_order" method="post" action="{:url('admin/Sys/customer_contract_cycle_order')}" >
						<table class="table table-striped table-bordered table-hover" id="dynamic-table">
							<thead>
							<tr>
								<th>ID</th>
								<th>合同周期名称</th>
								<!--<th style="border-right:#CCC solid 1px;">排序</th>-->
								<th>等价月数</th>
								<th style="border-right:#CCC solid 1px;">操作</th>
							</tr>
							</thead>

							<tbody>
							{foreach name="customer_contract_cycle" item="v"}
								<tr>
									<td height="28" >{$v.customer_contract_cycle_id}</td>
									<td>{$v.customer_contract_cycle_name}
									</td>
									<td>
										{if condition="$v.equivalent_months eq 0"} 未定义 {else/} {$v.equivalent_months} {/if}
									</td>
									<!--<td><input name="{$v.customer_contract_cycle_id}" value="{$v.customer_contract_cycle_order}" class="list_order center news_order"/></td>-->
									<td>

										<div class="hidden-sm hidden-xs action-buttons">
											<a class="green customer_contract_cycleedit-btn"  href="{:url('admin/Sys/customer_contract_cycle_edit')}" data-id="{$v.customer_contract_cycle_id}"  title="修改">
												<i class="ace-icon fa fa-pencil bigger-130"></i>
											</a>
											<a style="display: none;" class="red confirm-rst-url-btn" data-info="你确定要删除吗？" href="{:url('admin/Sys/customer_contract_cycle_del',array('customer_contract_cycle_id'=>$v['customer_contract_cycle_id'],'p'=>input('p',1)))}" title="删除">
												<i class="ace-icon fa fa-trash-o bigger-130"></i>
											</a>
										</div>

										<div class="hidden-md hidden-lg">
											<div class="inline position-relative">
												<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
													<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
												</button>
												<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
													<li>
														<a href="{:url('admin/Sys/customer_contract_cycle_edit')}" data-id="{$v.customer_contract_cycle_id}" class="tooltip-success customer_contract_cycleedit-btn" data-rel="tooltip" title="" data-original-title="修改">
															<span class="green">
																<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
															</span>
														</a>
													</li>

													<li>
														<a href="{:url('admin/Sys/customer_contract_cycle_del',array('customer_contract_cycle_id'=>$v['customer_contract_cycle_id'],'p'=>input('p',1)))}"  class="tooltip-error confirm-rst-url-btn" data-rel="tooltip" title="" data-info="你确定要删除吗？" data-original-title="删除">
															<span class="red">
																<i class="ace-icon fa fa-trash-o bigger-120"></i>
															</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</td>
								</tr>
							{/foreach}

							<tr>
								<td height="50" colspan="4" align="right">{$page}</td>
							</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>


<!-- 显示添加模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form class="form-horizontal ajaxForm2" name="customer_contract_cycle_add" method="post" action="{:url('admin/Sys/customer_contract_cycle_runadd')}">
				<div class="modal-dialog">
					<div class="modal-content">


						<!--标题区-->
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								添加合同周期
							</h4>
						</div>
						<!--标题区-->


						<!--内容区-->
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-12">

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 合同周期名称：  </label>
										<div class="col-sm-10">
											<input type="text" name="customer_contract_cycle_name" id="customer_contract_cycle_name" placeholder="输入合同周期名称" class="col-xs-10 col-sm-5" required/>
										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 等价月数：  </label>
										<div class="col-sm-10">
											<input type="text" name="equivalent_months" id="equivalent_months" placeholder="请输入等价月数" class="col-xs-10 col-sm-5" required/>
										</div>
									</div>
									<div class="space-4"></div>

									<!--<div class="form-group">-->
										<!--<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 排序：  </label>-->
										<!--<div class="col-sm-10">-->
											<!--<input type="number" name="customer_contract_cycle_order" id="customer_contract_cycle_order" value="50" class="col-xs-10 col-sm-3" required/>-->
											<!--<span class="lbl">&nbsp;&nbsp;<span class="red">*</span>从小到大排序</span>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="space-4"></div>-->

								</div>
							</div>
						</div>
						<!--内容区-->


						<!--操作区-->
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">
								提交保存
							</button>
							<button class="btn btn-info" type="reset">
								重置
							</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">
								关闭
							</button>
						</div>
						<!--操作区-->


					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</form>
		</div><!-- /.modal -->
<!-- 显示添加模态框（Modal） -->






<!-- 显示修改模态框（Modal） -->
		<div class="modal fade in" id="myModaledit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-backdrop fade in" id="gbbb" style="height: 100%;"></div>
			<form class="form-horizontal ajaxForm2" name="customer_contract_cycle_runedit" method="post" action="{:url('admin/Sys/customer_contract_cycle_runedit')}">
				<input type="hidden" name="customer_contract_cycle_id" id="editcustomer_contract_cycle_id" value="" />
				<div class="modal-dialog">
					<div class="modal-content">

						<!--标题区-->
						<div class="modal-header">
							<button type="button" class="close" id="gb"  data-dismiss="modal"
									aria-hidden="true">×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								修改合同周期
							</h4>
						</div>
						<!--标题区-->

						<!--内容区-->
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-12">

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 合同周期名称：  </label>
										<div class="col-sm-10">
											<input type="text" name="customer_contract_cycle_name" id="editcustomer_contract_cycle_name" placeholder="输入合同周期名称" class="col-xs-10 col-sm-5" required/>
										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 等价月数：  </label>
										<div class="col-sm-10">
											<input type="text" name="equivalent_months" id="editequivalent_months" placeholder="请输入等价月数" class="col-xs-10 col-sm-5" required/>
										</div>
									</div>
									<div class="space-4"></div>

									<!--<div class="form-group">-->
										<!--<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 排序：  </label>-->
										<!--<div class="col-sm-10">-->
											<!--<input type="number" name="customer_contract_cycle_order" id="editcustomer_contract_cycle_order" value="50" class="col-xs-10 col-sm-3" required/>-->
											<!--<span class="lbl">&nbsp;&nbsp;<span class="red">*</span>从小到大排序</span>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="space-4"></div>-->
								</div>
							</div>
						</div>
						<!--内容区-->


						<!--操作区-->
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">
								提交保存
							</button>
							<button type="button" class="btn btn-default"  id="gbb" >
								关闭
							</button>
						</div>
						<!--操作区-->

					</div>
				</div>
			</form>
		</div>
	</div>
<!-- 显示修改模态框（Modal） -->

{/block}


