{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">
		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					添加服务项目
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal ajaxForm2" name="admin_rule_copy" method="post" action="{:url('admin/Sys/servicee_itemse_runadd')}">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 父级名称： </label>
						<div class="col-sm-9">
							<select name="pid"  class="col-xs-10 col-sm-5" required>
								<option value="0">--默认顶级--</option>
								{foreach name="servicee_itemse" item="v"}
									<option value="{$v.service_items_id}" {if condition="$v['service_items_id'] eq $pid"}selected{/if}>{$v.lefthtml}{$v.service_items_name}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称： </label>
						<div class="col-sm-9">
							<input type="text" name="service_items_name" id="service_items_name"  value=""  class="col-xs-10 col-sm-5" required/>
                                            <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle" id="resone"></span>
											</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div><!-- /.page-content -->
{/block}