<!DOCTYPE html>
<html>
<head>
	{include file="public:head" /}
</head>
<body>
<div class="wrap">
	{include file="public:header" /}
	<div class="section">
		<div class="main">
				<pre class="agreement">《数蓝回款系统》使用协议

版权所有《多牛传媒》
感谢您选择《数蓝回款系统》, 希望我们的产品能够帮您把网站发展的更快、更好、更强！
《数蓝回款系统》遵循Apache2开源协议发布，并提供免费使用。
《数蓝回款系统》建站系统由数蓝(官网http://www.slanmedia.com/)发起并开源发布。
Apache Licence是著名的非盈利开源组织Apache采用的协议。
该协议鼓励代码共享和尊重原作者的著作权，允许代码修改，再作为开源或商业软件发布。需要满足的条件：
1． 遵守纪律
2． 不随意删除数据；
3． 不随意导出数据；
4． 若有问题请联系《数蓝技术部》

数蓝免责声明
  1、如果其他人员随意泄露数据，非技术漏洞导致的，数蓝技术部部负责。
  2、您一旦安装使用《数蓝回款系统》，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。</pre>
		</div>
		<div class="bottom text-center">
			<a href="{:url('install/Index/step2')}" class="btn btn-primary">接受</a>
		</div>
	</div>
</div>
{include file="public:footer" /}
</body>
</html>